{% extends 'base.html' %}
{% block body %}
{% load static %}
<main>
    <!-- BREADCRUMBS SECTION START -->
    <section class="ul-breadcrumb ul-section-spacing">
        <div class="ul-container">
            <h2 class="ul-breadcrumb-title">About Us</h2>
            <ul class="ul-breadcrumb-nav">
                <li><a href="/">Home</a></li>
                <li><span class="separator"><i class="flaticon-right"></i></span></li>
                <li>About Us</li>
            </ul>
        </div>
    </section>
    <!-- BREADCRUMBS SECTION END -->

    <!-- ABOUT SECTION START -->
    <section class="ul-about ul-section-spacing wow animate__fadeInUp">
        <div class="ul-container">
            <div class="row row-cols-md-2 row-cols-1 align-items-center gy-4 ul-about-row">
                <div class="col">
                    <div class="ul-about-imgs">
                        <div class="img-wrapper">
                            <img src="{% static 'assets/salamjindagi/img/about.png' %}" alt="Image">
                        </div>
                        <div class="ul-about-imgs-vectors">
                            <img src="{% static 'assets/salamjindagi/img/bg1.png' %}" alt="Image" class="vector-1">
                            <img src="{% static 'assets/salamjindagi/img/about-img-vector-2.svg' %}" alt="Image"
                                class="vector-2">
                        </div>
                    </div>
                </div>

                <!-- txt -->
                <div class="col">
                    <div class="ul-about-txt">
                        <span class="ul-section-sub-title ul-section-sub-title--2">About US</span>
                        <h2 class="ul-section-title">SalaamZindagi is The Non Profitable Organization.</h2>
                        <h3 class="">A Beacon of Compassion and Upliftment.</h3>
                        <p class="ul-section-descr">At Salaam Zindagi, our mission is to extend a helping hand to the
                            most vulnerable sections of society. Our nonprofit organization is committed to uplifting
                            communities by providing essential support, fostering educational opportunities, promoting
                            environmental sustainability through plantation initiatives, and addressing various societal
                            challenges. We believe in the power of compassion and aim to transform lives by offering
                            relief, resources, and hope to those in need. Through our diverse programs and dedicated
                            efforts, Salaam Zindagi strives to create a positive and lasting impact, ensuring that
                            everyone has the opportunity to thrive and lead a dignified life.</p>

                        <div class="ul-about-block">
                            <div class="block-left">
                                <div class="block-heading">
                                    <div class="icon"><i class="flaticon-love"></i></div>
                                    <h3 class="block-title">Start Helping Team</h3>
                                </div>

                                <ul class="block-list">
                                    <li>Share Warmth, Spread Love.</li>
                                    <li>Empower Change, Inspire Action.</li>
                                </ul>
                            </div>
                            <div class="block-right"><img
                                    src="{% static 'assets/salamjindagi/img/about-block-img.jpg' %}" alt="Image"></div>
                        </div>

                        <div class="ul-about-bottom">
                            <a href="javascript:void(0)" onclick="openDonateModal()" class="ul-btn"><i class="flaticon-fast-forward-double-right-arrows-symbol"></i>
                                Donate Now</a>

                            <div class="ul-about-call">
                                <div class="icon"><i class="flaticon-telephone-call"></i></div>
                                <div class="txt">
                                    <span class="call-title">Call Any Time</span>
                                    <a href="tel:+612345678990">+91 2345 678 990</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- vector -->
        <div class="ul-about-vectors">
            <img src="{% static 'assets/salamjindagi/img/bg2.png' %}" alt="vector" class="vector-1">
        </div>
    </section>
    <!-- ABOUT SECTION END -->


    <!-- STATS SECTION START -->
    <div class="ul-stats ul-section-spacing">
        <div class="ul-container">
            <div class="ul-stats-wrapper wow animate__fadeInUp">
                <div class="row row-cols-md-4 row-cols-sm-3 row-cols-2 row-cols-xxs-1 ul-bs-row justify-content-center">
                    <div class="col">
                        <div class="ul-stats-item">
                            <i class="flaticon-costumer"></i>
                            <span class="number">2.2 M+</span>
                            <span class="txt">Needy Served</span>
                        </div>
                    </div>

                    <div class="col">
                        <div class="ul-stats-item">
                            <i class="flaticon-team"></i>
                            <span class="number">132 K+</span>
                            <span class="txt">Global Donors</span>
                        </div>
                    </div>

                    <div class="col">
                        <div class="ul-stats-item">
                            <i class="flaticon-package"></i>
                            <span class="number">12 K+</span>
                            <span class="txt">Active Member</span>
                        </div>
                    </div>

                    <div class="col">
                        <div class="ul-stats-item">
                            <i class="flaticon-relationship"></i>
                            <span class="number">560+</span>
                            <span class="txt">Worldwide Donor</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- STATS SECTION END -->
      <!-- MISSION, VISION, HISTORY SECTION START -->
        <section class="ul-about-tabs ul-events ul-section-spacing pt-0">
            <div class="ul-container">
                <!-- heading -->
                <div class="ul-section-heading align-items-center wow animate__fadeInUp">
                    <div class="left">
                        <span class="ul-section-sub-title">Salaam Zindagi History</span>
                        <h2 class="ul-section-title text-white">Salaam Zindagi Information of Event Schedule</h2>
                    </div>
                    <a href="#" class="ul-btn"><i class="flaticon-fast-forward-double-right-arrows-symbol"></i> Donate Now</a>
                </div>

                <!-- tab group -->
                <div class="tab-group">
                    <!-- tabs -->
                    <div class="ul-about-tabs-wrapper">
                        <div id="tab-mission" class="ul-tab ul-about-tab active">
                            <div class="ul-about-tab-img">
                                <img src="{% static 'assets/salamjindagi/img/mission-img.jpg' %}" alt="Image">
                            </div>

                            <div class="ul-about-tab-txt">
                                <h3 class="ul-about-tab-title">Where can I get some?</h3>
                                <p class="ul-about-tab-descr">Salaam Zindagi is committed to uplifting communities through education, healthcare, and essential support. We prioritize environmental sustainability and a culture of compassion. Our mission is to inspire and mobilize people to create a more equitable and sustainable world for all</p>
                                
                            </div>
                        </div>

                        <!-- tab 02 / vision -->
                        <div id="tab-vision" class="ul-tab ul-about-tab">
                            <div class="ul-about-tab-img">
                                <img src="{% static 'assets/salamjindagi/img/why-join.jpg' %}" alt="Image">
                            </div>

                            <div class="ul-about-tab-txt">
                                <h3 class="ul-about-tab-title">Our Vision</h3>
                                <p class="ul-about-tab-descr">At Salaam Zindagi, we envision a compassionate, inclusive world where everyone thrives. Our goal is to empower communities, reduce inequality, and prioritize environmental sustainability. We aim to lead in driving social change, fostering hope, and building a brighter future for all.
                            </div>
                        </div>

                        <!-- tab 03 /  -->
                        <div id="tab-history" class="ul-tab ul-about-tab">
                            <div class="ul-about-tab-img">
                                <img src="{% static 'assets/salamjindagi/img/contact-img.jpg' %}" alt="Image">
                            </div>

                            <div class="ul-about-tab-txt">
                                <h3 class="ul-about-tab-title">Our History</h3>
                                <p class="ul-about-tab-descr">At Salaam Zindagi, our mission is to extend a helping hand to the most vulnerable sections of society. Our nonprofit organization is committed to uplifting communities by providing essential support, fostering educational opportunities, promoting environmental sustainability through plantation initiatives, and addressing various societal challenges. We believe in the power of compassion and aim to transform lives by offering relief, resources, and hope to those in need. Through our diverse programs and dedicated efforts, Salaam Zindagi strives to create a positive and lasting impact, ensuring that everyone has the opportunity to thrive and lead a dignified life.</p>
                            </div>
                        </div>
                    </div>


                    <div class="tab-navs ul-about-tabs-nav">
                        <button class="tab-nav active" data-tab="tab-mission"> Our Mission </button>
                        <button class="tab-nav" data-tab="tab-vision">Our Vision</button>
                        <button class="tab-nav" data-tab="tab-history">Our History</button>
                    </div>
                </div>

                <!-- vectors -->
                <div class="ul-events-vectors">
                    <img src="{% static 'assets/salamjindagi/img/events-vector-2.svg' %}" alt="Events Image" class="vector-2">
                </div>
            </div>
        </section>
        <!-- MISSION, VISION, HISTORY SECTION END -->

    <!-- TEAM SECTION START -->
    <section class="ul-team ul-section-spacing pt-5">
        <div class="ul-container">
            <!-- Heading -->
            <div class="ul-section-heading justify-content-between">
                <div class="left">
                    <span class="ul-section-sub-title">Volunteer Team</span>
                    <h2 class="ul-section-title">Volunteer Team of Salaam Zindagi.</h2>
                </div>
                <div>
                    <a href="#" class="ul-btn"><i class="flaticon-fast-forward-double-right-arrows-symbol"></i> Join
                        With us</a>
                </div>
            </div>

            <div class="row row-cols-md-4 row-cols-sm-3 row-cols-2 row-cols-xxs-1 ul-team-row justify-content-center">
                <!-- single member -->
                <div class="col">
                    <div class="ul-team-member">
                        <div class="ul-team-member-img">
                            <img src="{% static 'assets/salamjindagi/img/amrinder.webp' %}" alt="Team Member Image">
                            <div class="ul-team-member-socials">
                                <a href="#"><i class="flaticon-facebook"></i></a>
                                <a href="#"><i class="flaticon-twitter"></i></a>
                                <a href="#"><i class="flaticon-linkedin-big-logo"></i></a>
                                <a href="#"><i class="flaticon-instagram"></i></a>
                            </div>
                        </div>
                        <div class="ul-team-member-info">
                            <h3 class="ul-team-member-name"><a href="#">DR Amrinder Pal Singh</a></h3>
                            <p class="ul-team-member-designation">CEO Programs</p>
                        </div>
                    </div>
                </div>
                <!-- single member -->
                <div class="col">
                    <div class="ul-team-member">
                        <div class="ul-team-member-img">
                            <img src="{% static 'assets/salamjindagi/img/harpreet.webp' %}"
                                alt="Mr. Harpreet Singh Sachdeva">
                            <div class="ul-team-member-socials">
                                <a href="#"><i class="flaticon-facebook"></i></a>
                                <a href="#"><i class="flaticon-twitter"></i></a>
                                <a href="#"><i class="flaticon-linkedin-big-logo"></i></a>
                                <a href="#"><i class="flaticon-instagram"></i></a>
                            </div>
                        </div>
                        <div class="ul-team-member-info">
                            <h3 class="ul-team-member-name"><a href="#">Mr. Harpreet Singh Sachdeva</a></h3>
                            <p class="ul-team-member-designation">Director Programs</p>
                        </div>
                    </div>
                </div>

                <!-- single member -->
                <div class="col">
                    <div class="ul-team-member">
                        <div class="ul-team-member-img">
                            <img src="{% static 'assets/salamjindagi/img/aman.webp' %}" alt="Team Member Image">
                            <div class="ul-team-member-socials">
                                <a href="#"><i class="flaticon-facebook"></i></a>
                                <a href="#"><i class="flaticon-twitter"></i></a>
                                <a href="#"><i class="flaticon-linkedin-big-logo"></i></a>
                                <a href="#"><i class="flaticon-instagram"></i></a>
                            </div>
                        </div>
                        <div class="ul-team-member-info">
                            <h3 class="ul-team-member-name"><a href="#">Mr. Aman Siddhu</a></h3>
                            <p class="ul-team-member-designation">National Program Coordinator</p>
                        </div>
                    </div>
                </div>

                <!-- single member -->
                <div class="col">
                    <div class="ul-team-member">
                        <div class="ul-team-member-img">
                            <img src="{% static 'assets/salamjindagi/img/aaryan.jpg' %}" alt="Team Member Image">
                            <div class="ul-team-member-socials">
                                <a href="#"><i class="flaticon-facebook"></i></a>
                                <a href="#"><i class="flaticon-twitter"></i></a>
                                <a href="#"><i class="flaticon-linkedin-big-logo"></i></a>
                                <a href="#"><i class="flaticon-instagram"></i></a>
                            </div>
                        </div>
                        <div class="ul-team-member-info">
                            <h3 class="ul-team-member-name"><a href="#">Aaryan A. Singh</a></h3>
                            <p class="ul-team-member-designation">Regional Program Coordinator</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!-- TEAM SECTION END -->

    <!-- TESTIMONIAL SECTION START -->
    <section class="ul-testimonial-2 ul-section-spacing">
        <div class="ul-container wow animate__fadeInUp">
            <div class="ul-section-heading">
                <div>
                    <span class="ul-section-sub-title">tart Donating to Support Those in Need</span>
                    <h2 class="ul-section-title">What People Say About Salaam Zindagi</h2>
                </div>
                <a href="#" class="ul-btn"><i class="flaticon-fast-forward-double-right-arrows-symbol"></i> All
                    Testimonials</a>
            </div>

            <div class="row ul-testimonial-2-row gy-4">
                <!-- card -->
                <div class="col-md-4">
                    <div class="ul-testimonial-2-overview">
                        <span class="rating">4.9</span>
                        <div class="ul-testimonial-2-overview-stars">
                            <i class="flaticon-star"></i>
                            <i class="flaticon-star"></i>
                            <i class="flaticon-star"></i>
                            <i class="flaticon-star"></i>
                            <i class="flaticon-star-1"></i>
                        </div>
                        <span class="ul-testimonial-2-overview-title">5 Start Rating</span>
                        <p class="ul-testimonial-2-overview-descr">Hear from our readers and supporters as they share
                            their experiences with Salaam Zindagi. Their voices reflect the impact, trust, and positive
                            change we strive to create every day.</p>
                        <div class="ul-testimonial-2-overview-reviewers">
                            <img src="{% static 'assets/salamjindagi/img/sandeep.png' %}" alt="Person">
                            <img src="{% static 'assets/salamjindagi/img/madhu.png' %}" alt="Person">
                            <img src="{% static 'assets/salamjindagi/img/raja.png' %}" alt="Person">
                            <img src="{% static 'assets/salamjindagi/img/vikram.png' %}" alt="Person">
                        </div>
                    </div>
                </div>

                <!-- txt -->
                <div class="col-md-8">
                    <div class="ul-testimonial-2-slider swiper">
                        <div class="swiper-wrapper">
                            <!-- single slide -->
                            <div class="swiper-slide">
                                <div class="ul-review ul-review-2">
                                    <span class="icon"><i class="flaticon-quote-1"></i></span>
                                    <p class="ul-review-descr">The Festival of Sharing initiative is truly commendable.
                                        This noble cause
                                        not only provides essential winter clothing to those in need but also
                                        actively involves our youth in meaningful community service. It is
                                        inspiring to see young people channeling their energy and compassion
                                        towards making a positive impact. I applaud Salaam Zindagi for fostering
                                        this spirit of giving and responsibility among the next generation. My
                                        heartfelt appreciation goes out to all the volunteers and supporters for
                                        their dedicated efforts.</p>
                                    <div class="ul-review-bottom">
                                        <div class="ul-review-reviewer">
                                            <div class="reviewer-image"><img
                                                    src="{% static 'assets/salamjindagi/img/sandeep.png' %}"
                                                    alt="Sandeep Hans IAS"></div>
                                            <div>
                                                <h3 class="reviewer-name text-left">Sandeep Hans IAS</h3>
                                                <span class="reviewer-role">Director Higher Education. Chandigarh
                                                    Adminstration. UT</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- single slide -->
                            <div class="swiper-slide">
                                <div class="ul-review ul-review-2">
                                    <span class="icon"><i class="flaticon-quote-1"></i></span>
                                    <p class="ul-review-descr">I have been associated with Salaam Zindagi since its
                                        inception and have
                                        witnessed the organization's incredible transformation. The dedication
                                        and focus of its leaders on community service are truly commendable.
                                        Every year, around 8,000 to 9,000 NSS volunteers participate in the
                                        Festival of Sharing, staying connected with the community through Salaam
                                        Zindagi's efforts. It is an honor to support such a noble cause and see
                                        the positive impact it has on our youth and society</p>
                                    <div class="ul-review-bottom">
                                        <div class="ul-review-reviewer">
                                            <div class="reviewer-image">
                                                <img src="{% static 'assets/salamjindagi/img/vikram.png' %}"
                                                    alt="Dr. Bikram Rana">
                                            </div>
                                            <div>
                                                <h3 class="reviewer-name text-left">Dr. Bikram Rana</h3>
                                                <span class="reviewer-role">State Liaison Officer, Dept. of Education,
                                                    Chandigarh UT</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- single slide -->
                            <div class="swiper-slide">
                                <div class="ul-review ul-review-2">
                                    <span class="icon"><i class="flaticon-quote-1"></i></span>
                                    <p class="ul-review-descr">We have been associated with Salaam Zindagi since the
                                        2015 Chennai
                                        floods. As representatives of the Tamil community, we are profoundly
                                        grateful for the tremendous help extended by this NGO during that
                                        challenging time. Salaam Zindagi's unwavering support made a significant
                                        difference, and since then, Chandigarh Tamil Mandram has proudly
                                        partnered with them. The dedication and compassion shown by Salaam
                                        Zindagi continue to inspire us, and we look forward to many more years
                                        of collaboration in serving the community together.</p>
                                    <div class="ul-review-bottom">
                                        <div class="ul-review-reviewer">
                                            <div class="reviewer-image">
                                                <img src="{% static 'assets/salamjindagi/img/raja.png' %}"
                                                    alt="Raja Shekharan">
                                            </div>
                                            <div>
                                                <h3 class="reviewer-name text-left">Raja Shekharan</h3>
                                                <span class="reviewer-role">General Secretary, Chandigarh Tamil
                                                    Sangam</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="ul-review ul-review-2">
                                    <span class="icon"><i class="flaticon-quote-1"></i></span>
                                    <p class="ul-review-descr">We are deeply thankful to Salaam Zindagi for stepping
                                        forward during the
                                        disaster, securing relief and food materials, and ensuring they reached
                                        those truly in need. From the entire committee and everyone who suffered
                                        during this calamity, I extend my heartfelt gratitude to Salaam Zindagi
                                        and all those who extended their help. Your dedication and support made
                                        a significant difference in our time of need. Thank you.</p>
                                    <div class="ul-review-bottom">
                                        <div class="ul-review-reviewer">
                                            <div class="reviewer-image">
                                                <img src="{% static 'assets/salamjindagi/img/madhu.png' %}"
                                                    alt="Madhu Bhatt">
                                            </div>
                                            <div>
                                                <h3 class="reviewer-name text-left">Madhu Bhatt</h3>
                                                <span class="reviewer-role">Badrinath Kedarnath Management Committee,
                                                    Uttarakhand</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ul-testimonial-2-slider-nav">
                            <button class="prev"><i class="flaticon-back"></i></button>
                            <button class="next"><i class="flaticon-next"></i></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- TESTIMONIAL SECTION END -->
</main>
{% endblock %}