{% load static %}
<!-- BANNER SECTION START -->
<section class="ul-banner">
  <div id="ulBannerSlider" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

    <div class="carousel-inner">

      <!-- ================= SLIDE 1 (ORIGINAL) ================= -->
      <div class="carousel-item active">
        <div class="ul-banner-container">
          <div class="row gy-4 row-cols-lg-2 row-cols-1 align-items-center flex-column-reverse flex-lg-row">

              <!-- banner text -->
            <div class="col">
                <div class="ul-banner-txt">
                    <div class="wow animate__fadeInUp"> <span class="ul-banner-sub-title ul-section-sub-title">Change
                            The World Together</span>
                        <h1 class="ul-banner-title">For The People & Cause You Care About</h1>
                        <p class="ul-banner-descr">It is a long established fact that a reader will be distracted lorem
                            the readable content of a page when looking at layout the point lorem established fact that
                            It is a long established</p>
                        <div class="ul-banner-btns"> <a href="#" class="ul-btn"><i
                                    class="flaticon-fast-forward-double-right-arrows-symbol"></i> Make Donation</a>
                            <div class="ul-banner-stat">
                                <div class="imgs"> <img src="{% static 'assets/salamjindagi/img/user-1.png' %}"
                                    alt="Person"> <img src="{% static 'assets/salamjindagi/img/user-3.png' %}"
                                    alt="Person"> <img src="{% static 'assets/salamjindagi/img/user-2.png' %}"
                                    alt="Person"> <span class="number">2.M</span> </div> <span class="txt">Active donors</span>
                                </div>
                        </div>
                    </div> <img src="{% static 'assets/salamjindagi/img/vector-img.png' %}" alt="Vector"
                        class="ul-banner-txt-vector">
                </div>
            </div>

            <!-- banner image -->
            <div class="col align-self-start">
              <div class="ul-banner-img">
                <div class="img-wrapper">
                  <img src="{% static 'assets/salamjindagi/img/banner-img1.png' %}" alt="Banner Image">
                  <div class="ul-banner-video-btn">
                    <a href=""></a>
                  </div>
                </div>

                <!-- 🔴 VECTORS NOT REMOVED -->
                <div class="ul-banner-img-vectors">
                  <img src="{% static 'assets/salamjindagi/img/banner-img-vector-1.png' %}"
                       class="vector-1 wow animate__fadeInRight">
                  <img src="{% static 'assets/salamjindagi/img/banner-img-vector-2.png' %}"
                       class="vector-2 wow animate__fadeInDown">
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- ================= SLIDE 2 (COPY) ================= -->
      <div class="carousel-item">
        <div class="ul-banner-container">
          <div class="row gy-4 row-cols-lg-2 row-cols-1 align-items-center flex-column-reverse flex-lg-row">

             <!-- banner text -->
            <div class="col">
                <div class="ul-banner-txt">
                    <div class="wow animate__fadeInUp"> <span class="ul-banner-sub-title ul-section-sub-title">Change
                            The World Together</span>
                        <h1 class="ul-banner-title">For The People & Cause You Care About</h1>
                        <p class="ul-banner-descr">It is a long established fact that a reader will be distracted lorem
                            the readable content of a page when looking at layout the point lorem established fact that
                            It is a long established</p>
                        <div class="ul-banner-btns"> <a href="#" class="ul-btn"><i
                                    class="flaticon-fast-forward-double-right-arrows-symbol"></i> Make Donation</a>
                            <div class="ul-banner-stat">
                                <div class="imgs"> <img src="{% static 'assets/salamjindagi/img/user-1.png' %}"
                                    alt="Person"> <img src="{% static 'assets/salamjindagi/img/user-3.png' %}"
                                    alt="Person"> <img src="{% static 'assets/salamjindagi/img/user-2.png' %}"
                                    alt="Person"> <span class="number">2.M</span> </div> <span class="txt">Active donors</span>
                                </div>
                        </div>
                    </div> <img src="{% static 'assets/salamjindagi/img/bg3.png' %}" alt="Vector"class="ul-banner-txt-vector">
                </div>
            </div>

            <div class="col align-self-start">
              <div class="ul-banner-img">
                <div class="img-wrapper">
                  <img src="{% static 'assets/salamjindagi/img/banner-img.png' %}" alt="Banner Image">
                  <div class="ul-banner-video-btn">
                    <a href="">sfsfsfsf</a>
                  </div>
                </div>

                <div class="ul-banner-img-vectors">
                  <img src="{% static 'assets/salamjindagi/img/banner-img-vector-1.png' %}"
                       class="vector-1">
                  <img src="{% static 'assets/salamjindagi/img/banner-img-vector-2.png' %}"
                       class="vector-2">
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- ================= SLIDE 3 (COPY) ================= -->
      <div class="carousel-item">
        <div class="ul-banner-container">
          <div class="row gy-4 row-cols-lg-2 row-cols-1 align-items-center flex-column-reverse flex-lg-row">

              <!-- banner text -->
            <div class="col">
                <div class="ul-banner-txt">
                    <div class="wow animate__fadeInUp"> <span class="ul-banner-sub-title ul-section-sub-title">Change
                            The World Together</span>
                        <h1 class="ul-banner-title">For The People & Cause You Care About</h1>
                        <p class="ul-banner-descr">It is a long established fact that a reader will be distracted lorem
                            the readable content of a page when looking at layout the point lorem established fact that
                            It is a long established</p>
                        <div class="ul-banner-btns"> <a href="#" class="ul-btn"><i
                                    class="flaticon-fast-forward-double-right-arrows-symbol"></i> Make Donation</a>
                            <div class="ul-banner-stat">
                                <div class="imgs"> <img src="{% static 'assets/salamjindagi/img/user-1.png' %}"
                                    alt="Person"> <img src="{% static 'assets/salamjindagi/img/user-3.png' %}"
                                    alt="Person"> <img src="{% static 'assets/salamjindagi/img/user-2.png' %}"
                                    alt="Person"> <span class="number">2.M</span> </div> <span class="txt">Active donors</span>
                                </div>
                        </div>
                    </div> <img src="{% static 'assets/salamjindagi/img/vector-img.png' %}" alt="Vector"
                        class="ul-banner-txt-vector">
                </div>
            </div>

            <div class="col align-self-start">
              <div class="ul-banner-img">
                <div class="img-wrapper">
                  <img src="{% static 'assets/salamjindagi/img/banner-img.png' %}" alt="Banner Image">
                  <div class="ul-banner-video-btn">
                    <a href="">sfsfsfsf</a>
                  </div>
                </div>

                <div class="ul-banner-img-vectors">
                  <img src="{% static 'assets/salamjindagi/img/banner-img-vector-1.png' %}" class="vector-1">
                  <img src="{% static 'assets/salamjindagi/img/banner-img-vector-2.png' %}" class="vector-2">
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

    <!-- controls -->
    <button class="carousel-control-prev" type="button"
            data-bs-target="#ulBannerSlider" data-bs-slide="prev"></button>
    <button class="carousel-control-next" type="button"
            data-bs-target="#ulBannerSlider" data-bs-slide="next"></button>

  </div>
</section>
<!-- BANNER SECTION END -->
