{% load static %}
<!-- BANNER SECTION START -->
<section class="ul-banner">
  <div id="ulBannerSlider" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

   <div class="carousel-inner">
    {% for s in Slider %}
    <div class="carousel-item {% if forloop.first %}active{% endif %}">
      <div class="ul-banner-container">
        <div class="row gy-4 row-cols-lg-2 row-cols-1 align-items-center flex-column-reverse flex-lg-row">

          <div class="col">
            <div class="ul-banner-txt">
              <div class="wow animate__fadeInUp">

                <span class="ul-banner-sub-title ul-section-sub-title">
                  {{ s.slidercat.subcat_name }}
                </span>

                <h1 class="ul-banner-title">{{ s.title }}</h1>

                <p class="ul-banner-descr">{{ s.des }}</p>

                <div class="ul-banner-btns"> 
                 <a href="javascript:void(0)" onclick="openDonateModal()" class="ul-btn">
                      <i class="flaticon-fast-forward-double-right-arrows-symbol"></i> Donate Now
                    </a>

                  <div class="ul-banner-stat">
                    <div class="imgs">
                      <img src="{% static 'assets/salamjindagi/img/raja.png' %}">
                      <img src="{% static 'assets/salamjindagi/img/madhu.png' %}">
                      <img src="{% static 'assets/salamjindagi/img/vikram.png' %}">
                      <span class="number">2.2M</span>
                    </div>
                    <span class="txt">Needy Served in India</span>
                  </div>
                </div>

              </div>
              <img src="{% static 'assets/salamjindagi/img/vector-img.png' %}" class="ul-banner-txt-vector">
            </div>
          </div>

          <div class="col align-self-start">
            <div class="ul-banner-img">
              <div class="img-wrapper">
                <img src="{{ s.sliderimage.url }}" alt="{{ s.title }}">
              </div>

              <div class="ul-banner-img-vectors">
                <img src="{% static 'assets/salamjindagi/img/banner-img-vector-1.png' %}" class="vector-1">
                <img src="{% static 'assets/salamjindagi/img/banner-img-vector-2.png' %}" class="vector-2">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    {% endfor %}

    </div>


    <!-- controls -->
    <!-- <button class="carousel-control-prev" type="button"
            data-bs-target="#ulBannerSlider" data-bs-slide="prev"></button>
    <button class="carousel-control-next" type="button"
            data-bs-target="#ulBannerSlider" data-bs-slide="next"></button> -->

  </div>
</section>
<!-- BANNER SECTION END -->