{% load static %}
<!-- STATS SECTION START -->
<div class="ul-stats ul-section-spacing">
    <div class="ul-container">
        <div class="ul-stats-wrapper wow animate__fadeInUp">
            <div class="row row-cols-md-4 row-cols-sm-3 row-cols-2 row-cols-xxs-1 ul-bs-row justify-content-center">
                <div class="col">
                    <div class="ul-stats-item">
                        <i class="flaticon-costumer"></i>
                        <span class="number">2.2 M+</span>
                        <span class="txt">Needy Served</span>
                    </div>
                </div>

                <div class="col">
                    <div class="ul-stats-item">
                        <i class="flaticon-team"></i>
                        <span class="number">132 K+</span>
                        <span class="txt">Global Donors</span>
                    </div>
                </div>

                <div class="col">
                    <div class="ul-stats-item">
                        <i class="flaticon-package"></i>
                        <span class="number">12 K+</span>
                        <span class="txt">OActive Member</span>
                    </div>
                </div>

                <div class="col">
                    <div class="ul-stats-item">
                        <i class="flaticon-relationship"></i>
                        <span class="number">560+</span>
                        <span class="txt">Worldwide Donor</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- STATS SECTION END -->


<!-- EVENTS SECTION START -->
<section class="ul-events ul-section-spacing pt-0">
    <div class="ul-container">
        <!-- heading -->
        <div class="ul-section-heading align-items-center wow animate__fadeInUp">
            <div class="left">
                <span class="ul-section-sub-title">Recent Events</span>
                <h2 class="ul-section-title text-white">Join Recent Fundraising Event Schedule Of SalaamZindagi.</h2>
            </div>
            <a href="#" class="ul-btn"><i class="flaticon-fast-forward-double-right-arrows-symbol"></i> Donate Now</a>
        </div>

        <!-- events -->
        <div class="ul-events-wrapper">
            <div class="row ul-bs-row row-cols-lg-2 row-cols-1">
                <!-- single event -->
                <div class="col wow animate__fadeInUp">
                    <div class="ul-event">
                        <div class="ul-event-img">
                            <img src="{% static 'assets/salamjindagi/img/event-img.jpg' %}" alt="Event Image">
                            <span class="date">29 <span>July</span></span>
                        </div>
                        <div class="ul-event-txt">
                            <h3 class="ul-event-title"><a href="#">Manager Disapproved of the Most Recent Work.</a></h3>
                            <p class="ul-event-descr">Dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                                aspernaturaut</p>
                            <div class="ul-event-info">
                                <span class="ul-event-info-title">Venue</span>
                                <p class="ul-event-info-descr">350 5th AveNew York, NY 118 United States</p>
                            </div>
                            <a href="#" class="ul-btn"><i class="flaticon-fast-forward-double-right-arrows-symbol"></i>
                                Event Details</a>
                        </div>
                    </div>
                </div>

                <!-- single event -->
                <div class="col wow animate__fadeInUp">
                    <div class="ul-event">
                        <div class="ul-event-img">
                            <img src="{% static 'assets/salamjindagi/img/blog-b-1.jpg' %}" alt="Event Image">
                            <span class="date">29 <span>July</span></span>
                        </div>
                        <div class="ul-event-txt">
                            <h3 class="ul-event-title"><a href="#">Manager Disapproved of the Most Recent Work.</a></h3>
                            <p class="ul-event-descr">Dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                                aspernaturaut</p>
                            <div class="ul-event-info">
                                <span class="ul-event-info-title">Venue</span>
                                <p class="ul-event-info-descr">350 5th AveNew York, NY 118 United States</p>
                            </div>
                            <a href="#" class="ul-btn"><i class="flaticon-fast-forward-double-right-arrows-symbol"></i>
                                Event Details</a>
                        </div>
                    </div>
                </div>

                <!-- single event -->
                <div class="col wow animate__fadeInUp">
                    <div class="ul-event">
                        <div class="ul-event-img">
                            <img src="{% static 'assets/salamjindagi/img/blog-2.jpg' %}" alt="Event Image">
                            <span class="date">29 <span>July</span></span>
                        </div>
                        <div class="ul-event-txt">
                            <h3 class="ul-event-title"><a href="#">Manager Disapproved of the Most Recent Work.</a></h3>
                            <p class="ul-event-descr">Dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                                aspernaturaut</p>
                            <div class="ul-event-info">
                                <span class="ul-event-info-title">Venue</span>
                                <p class="ul-event-info-descr">350 5th AveNew York, NY 118 United States</p>
                            </div>
                            <a href="#" class="ul-btn"><i class="flaticon-fast-forward-double-right-arrows-symbol"></i>
                                Event Details</a>
                        </div>
                    </div>
                </div>

                <!-- single event -->
                <div class="col wow animate__fadeInUp">
                    <div class="ul-event">
                        <div class="ul-event-img">
                            <img src="{% static 'assets/salamjindagi/img/blog-b-3.jpg' %}" alt="Event Image">
                            <span class="date">29 <span>July</span></span>
                        </div>
                        <div class="ul-event-txt">
                            <h3 class="ul-event-title"><a href="#">Manager Disapproved of the Most Recent Work.</a></h3>
                            <p class="ul-event-descr">Dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                                aspernaturaut</p>
                            <div class="ul-event-info">
                                <span class="ul-event-info-title">Venue</span>
                                <p class="ul-event-info-descr">350 5th AveNew York, NY 118 United States</p>
                            </div>
                            <a href="#" class="ul-btn"><i class="flaticon-fast-forward-double-right-arrows-symbol"></i>
                                Event Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- vectors -->
    <div class="ul-events-vectors">
        <img src="{% static 'assets/salamjindagi/img/events-vector-1.png' %}" alt="Events Image" class="vector-1">
        <img src="{% static 'assets/salamjindagi/img/events-vector-2.svg' %}" alt="Events Image" class="vector-2">
    </div>
</section>
<!-- EVENTS SECTION END -->