{% load static %}
<!-- FOOTER SECTION START -->
<footer class="ul-footer">

    <!-- footer top -->
    <div class="ul-footer-top">
        <div class="ul-footer-container">
            <div class="ul-footer-top-contact-infos">

                <!-- Address -->
                <div class="ul-footer-top-contact-info">
                    <div class="ul-footer-top-contact-info-icon">
                        <div class="ul-footer-top-contact-info-icon-inner">
                            <i class="flaticon-pin"></i>
                        </div>
                    </div>
                    <div class="ul-footer-top-contact-info-txt">
                        <span class="ul-footer-top-contact-info-label">Address</span>
                        <h6 class="ul-footer-top-contact-info-address">
                            227/1 Acme Heights Ext 2,  Sector 117, <br/> Mohali, SAS Nagar, Punjab
                        </h6>
                    </div>
                </div>

                <!-- Email -->
                <div class="ul-footer-top-contact-info">
                    <div class="ul-footer-top-contact-info-icon">
                        <div class="ul-footer-top-contact-info-icon-inner">
                            <i class="flaticon-email"></i>
                        </div>
                    </div>
                    <div class="ul-footer-top-contact-info-txt">
                        <span class="ul-footer-top-contact-info-label">Send Email</span>
                        <h6 class="ul-footer-top-contact-info-address">
                            <a href="mailto:info@salaamzindagi.org">info@salaamzindagi.org</a>
                        </h6>
                    </div>
                </div>

                <!-- Phone -->
                <div class="ul-footer-top-contact-info">
                    <div class="ul-footer-top-contact-info-icon">
                        <div class="ul-footer-top-contact-info-icon-inner">
                            <i class="flaticon-telephone-call-1"></i>
                        </div>
                    </div>
                    <div class="ul-footer-top-contact-info-txt">
                        <span class="ul-footer-top-contact-info-label">Call Emergency</span>
                        <h6 class="ul-footer-top-contact-info-address">
                            <a href="tel:+88012365499">+91 9888771169</a>
                        </h6>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- footer middle -->
    <div class="ul-footer-middle">
        <div class="ul-footer-container">
            <div class="ul-footer-middle-wrapper wow animate__fadeInUp">

                <!-- About -->
                <div class="ul-footer-about">
                    <a href="/">
                        <img src="{{ profile_setting.logo_dark.url }}" class="logo logo-light" style="max-height:60px; margin-bottom:20px;">
                    </a>
                    <p class="ul-footer-about-txt">
                        Salaam Zindagi is committed to supporting underprivileged communities by providing essential services such as disaster relief, education, and healthcare. Join us in creating a positive impact and changing lives for the better
                    </p>
                    <div class="ul-footer-socials">
                        <ul class="list-unstyled d-flex gap-3">
                            {% if profile_setting.facbook %}
                            <li><a href="{{ profile_setting.facbook }}" target="_blank" class="text-white fs-5">
                                <i class="flaticon-facebook"></i></a></li>
                            {% endif %}

                            {% if profile_setting.twitter %}
                            <li><a href="{{ profile_setting.twitter }}" target="_blank" class="text-white fs-5">
                                <i class="flaticon-twitter"></i></a></li>
                            {% endif %}

                            {% if profile_setting.instagram %}
                            <li><a href="{{ profile_setting.instagram }}" target="_blank" class="text-white fs-5">
                                <i class="flaticon-instagram"></i></a></li>
                            {% endif %}

                            {% if profile_setting.youtube %}
                            <li><a href="{{ profile_setting.youtube }}" target="_blank" class="text-white fs-5">
                                <i class="flaticon-youtube"></i></a></li>
                            {% endif %}

                            {% if profile_setting.linkedin %}
                            <li><a href="{{ profile_setting.linkedin }}" target="_blank" class="text-white fs-5">
                                <i class="flaticon-linkedin-big-logo"></i></a></li>
                            {% endif %}
                        </ul>

                        
                    </div>
                </div>

            <!-- Quick Links -->
            <div class="ul-footer-widget">
            <h3 class="ul-footer-widget-title">Quick Links</h3>
            <div class="ul-footer-widget-links">
                <a href="/" class="text-white text-decoration-none link-hover">Blog</a>
                <a href="/" class="text-white text-decoration-none link-hover">Contact</a>
                <a href="/" class="text-white text-decoration-none link-hover">About Us</a>
                <a href="/" class="text-white text-decoration-none link-hover">Give Donation</a>
                <a href="/" class="text-white text-decoration-none link-hover">Privacy Policy</a>
                <a href="/" class="text-white text-decoration-none link-hover">Become Volunteer</a>
                <a href="/" class="text-white text-decoration-none link-hover">Join our Events</a>
            </div>
            </div>

                <!-- Recent Posts -->
                    <div class="ul-footer-widget ul-footer-recent-posts">
                        <h3 class="ul-footer-widget-title">Recent Posts</h3>

                        <div class="ul-blog-sidebar-posts">

                            {% for post in recent_posts %}
                            <div class="ul-blog-sidebar-post ul-footer-post">
                                <div class="img">
                                    <a href="{% url 'blog:blog_detail' post.slug %}">
                                        <img src="{{ post.post_image.url }}" alt="{{ post.post_title }}">
                                    </a>
                                </div>

                                <div class="txt">
                                    <span class="date">
                                        <i class="flaticon-calendar"></i>
                                        {{ post.created_at|date:"d M Y" }}
                                    </span>

                                    <h4 class="title">
                                        <a href="{% url 'blog:blog_detail' post.slug %}">
                                            {{ post.post_title|truncatechars:45 }}
                                        </a>
                                    </h4>
                                </div>
                            </div>
                            {% empty %}
                            <p>No recent posts</p>
                            {% endfor %}

                        </div>
                    </div>


                <!-- Newsletter -->
                <div class="ul-footer-widget ul-nwsltr-widget">
                    <h3 class="ul-footer-widget-title">Contact Us</h3>
                    <div class="ul-footer-widget-links ul-footer-contact-links">
                        <a href="mailto:info@salaamzindagi.org">
                            <i class="flaticon-mail"></i> info@salaamzindagi.org
                        </a>
                        <a href="tel:9888771169">
                            <i class="flaticon-telephone-call"></i> +91 9888771169
                        </a>
                    </div>

                    <form action="#" class="ul-nwsltr-form">
                        <div class="top">
                            <input type="email" placeholder="Your Email Address" class="ul-nwsltr-input">
                            <button type="submit"><i class="flaticon-next"></i></button>
                        </div>
                        <div class="agreement">
                            <label class="ul-checkbox-wrapper">
                                <input type="checkbox" hidden>
                                <span class="ul-checkbox"><i class="flaticon-tick"></i></span>
                                <span class="ul-checkbox-txt">
                                    I agree with the <a href="#">Privacy Policy</a>
                                </span>
                            </label>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- footer bottom -->
    <div class="ul-footer-bottom">
        <div class="ul-footer-container">
            <div class="ul-footer-bottom-wrapper">
                <p class="copyright-txt">
                    &copy; <span id="footer-copyright-year"></span>Salaam Zindagi. Made with  by Magnifying India
                </p>
                <div class="ul-footer-bottom-nav">
                    <a href="#">Terms & Conditions</a>
                    <a href="#">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>



</footer>
<!-- FOOTER SECTION END -->


    
<!-- libraries JS -->
<script src="{% static 'assets/salamjindagi/vendor/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/salamjindagi/vendor/splide/splide.min.js' %}"></script>
<script src="{% static 'assets/salamjindagi/vendor/splide/splide-extension-auto-scroll.min.js' %}"></script>
<script src="{% static 'assets/salamjindagi/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'assets/salamjindagi/vendor/slim-select/slimselect.min.js' %}"></script>
<script src="{% static 'assets/salamjindagi/vendor/animate-wow/wow.min.js' %}"></script>
<script src="{% static 'assets/salamjindagi/vendor/splittype/index.min.js' %}"></script>
<script src="{% static 'assets/salamjindagi/vendor/mixitup/mixitup.min.js' %}"></script>
<script src="{% static 'assets/salamjindagi/vendor/fslightbox/fslightbox.js' %}"></script>
<script src="{% static 'assets/salamjindagi/vendor/flatpickr/flatpickr.js' %}"></script>

<!-- custom JS -->
<script src="{% static 'assets/salamjindagi/js/main.js' %}"></script>
<script src="{% static 'assets/salamjindagi/js/tab.js' %}"></script>
<script src="{% static 'assets/salamjindagi/js/accordion.js' %}"></script>
<script src="{% static 'assets/salamjindagi/js/progressbar.js' %}"></script>
<script src="{% static 'assets/salamjindagi/js/donate-form.js' %}"></script>
