 
 {% load static %}
 <!-- GALLERY SECTION START -->
    <div class="ul-gallery overflow-hidden ul-section-spacing mx-auto pt-0">
        <div class="ul-gallery-slider swiper">
            <div class="swiper-wrapper">
                <!-- single gallery item -->
                <div class="ul-gallery-item swiper-slide">
                    <img src="{% static 'assets/salamjindagi/img/gallery-item-1.png' %}" alt="Gallery Image">
                    <div class="ul-gallery-item-btn-wrapper">
                        <a href="{% static 'assets/salamjindagi/img/gallery-item-1.png' %}" data-fslightbox="gallery"><i class="flaticon-instagram"></i></a>
                    </div>
                </div>

                <!-- single gallery item -->
                <div class="ul-gallery-item swiper-slide">
                    <img src="{% static 'assets/salamjindagi/img/gallery-item-2.png' %}" alt="Gallery Image">
                    <div class="ul-gallery-item-btn-wrapper">
                        <a href="{% static 'assets/salamjindagi/img/gallery-item-2.png' %}" data-fslightbox="gallery"><i class="flaticon-instagram"></i></a>
                    </div>
                </div>

                <!-- single gallery item -->
                <div class="ul-gallery-item swiper-slide">
                    <img src="{% static 'assets/salamjindagi/img/gallery-item-3.png' %}" alt="Gallery Image">
                    <div class="ul-gallery-item-btn-wrapper">
                        <a href="{% static 'assets/salamjindagi/img/gallery-item-3.png' %}" data-fslightbox="gallery"><i class="flaticon-instagram"></i></a>
                    </div>
                </div>

                <!-- single gallery item -->
                <div class="ul-gallery-item swiper-slide">
                    <img src="{% static 'assets/salamjindagi/img/gallery-item-4.png' %}" alt="Gallery Image">
                    <div class="ul-gallery-item-btn-wrapper">
                        <a href="{% static 'assets/salamjindagi/img/gallery-item-4.png' %}" data-fslightbox="gallery"><i class="flaticon-instagram"></i></a>
                    </div>
                </div>

                <!-- single gallery item -->
                <div class="ul-gallery-item swiper-slide">
                    <img src="{% static 'assets/salamjindagi/img/gallery-item-5.png' %}" alt="Gallery Image">
                    <div class="ul-gallery-item-btn-wrapper">
                        <a href="{% static 'assets/salamjindagi/img/gallery-item-5.png' %}" data-fslightbox="gallery"><i class="flaticon-instagram"></i></a>
                    </div>
                </div>

                <!-- single gallery item -->
                <div class="ul-gallery-item swiper-slide">
                    <img src="{% static 'assets/salamjindagi/img/gallery-item-6.png' %}" alt="Gallery Image">
                    <div class="ul-gallery-item-btn-wrapper">
                        <a href="{% static 'assets/salamjindagi/img/gallery-item-6.png' %}" data-fslightbox="gallery"><i class="flaticon-instagram"></i></a>
                    </div>
                </div>

                <!-- single gallery item -->
                <div class="ul-gallery-item swiper-slide">
                    <img src="{% static 'assets/salamjindagi/img/gallery-item-1.png' %}" alt="Gallery Image">
                    <div class="ul-gallery-item-btn-wrapper">
                        <a href="{% static 'assets/salamjindagi/img/gallery-item-1.png' %}" data-fslightbox="gallery"><i class="flaticon-instagram"></i></a>
                    </div>
                </div>

                <!-- single gallery item -->
                <div class="ul-gallery-item swiper-slide">
                    <img src="{% static 'assets/salamjindagi/img/gallery-item-2.png' %}" alt="Gallery Image">
                    <div class="ul-gallery-item-btn-wrapper">
                        <a href="{% static 'assets/salamjindagi/img/gallery-item-2.png' %}" data-fslightbox="gallery"><i class="flaticon-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- GALLERY SECTION END -->