{% extends 'base.html' %}
{% block body %}
{% load static %}
<main>
        <!-- BREADCRUMBS SECTION START -->
        <section class="ul-breadcrumb ul-section-spacing">
            <div class="ul-container">
                <h2 class="ul-breadcrumb-title">Join With Us Today</h2>
                <ul class="ul-breadcrumb-nav">
                    <li><a href="/">Home</a></li>
                    <li><span class="separator"><i class="flaticon-right"></i></span></li>
                    <li>Join Us</li>
                </ul>
            </div>
        </section>
        <!-- BREADCRUMBS SECTION END -->


        <!-- JoinUs SECTION START -->
        <section class="ul-section-spacing">
            <div class="ul-container">
                <!-- JoinUs -->
                <div class="ul-JoinUs-wrapper">
                    <div class="row ul-bs-row row-cols-lg-2 row-cols-1">
                        <!-- single JoinUs -->
                        <div class="col wow animate__fadeInUp">
                            <div class="ul-event ul-event--inner">
                                <div class="ul-event-img">
                                    <img src="{% static 'assets/salamjindagi/img/event-img.jpg' %}" alt="Event Image">
                                    <span class="date">24 <span>Jan</span></span>
                                </div>
                                <div class="ul-event-txt">
                                    <h3 class="ul-event-title"><a href="#">Join the Team of Exceptional Doctors at Salaamzidagi</a></h3>
                                    <p class="ul-event-descr">As a doctor, you can promote your expertise, fulfill your social responsibility, and enjoy potential tax benefits. Together, let’s make a difference in our community! Your impact matters—join us today!</p>
                                    <a href="/auth/sign-in" class="ul-btn"><i class="flaticon-fast-forward-double-right-arrows-symbol"></i>Join Us Today</a>
                                </div>
                            </div>
                        </div>
                        <!-- single JoinUs -->
                        <div class="col wow animate__fadeInUp">
                            <div class="ul-event ul-event--inner">
                                <div class="ul-event-img">
                                    <img src="{% static 'assets/salamjindagi/img/event-img.jpg' %}" alt="Event Image">
                                    <span class="date">24 <span>Jan</span></span>
                                </div>
                                <div class="ul-event-txt">
                                    <h3 class="ul-event-title"><a href="#">Join the Team of Exceptional Engineers at Salaamzidagi</a></h3>
                                    <p class="ul-event-descr">As an engineer, you can leverage your skills to design innovative solutions, fulfill your social responsibility, and enjoy potential tax benefits. Together, let’s build a better future for our community! Your expertise matters—join us today!</p>
                                    <a href="/auth/sign-in" class="ul-btn"><i class="flaticon-fast-forward-double-right-arrows-symbol"></i>Join Us Today</a>
                                </div>
                            </div>
                        </div>
                        <!-- single JoinUs -->
                        <div class="col wow animate__fadeInUp">
                            <div class="ul-event ul-event--inner">
                                <div class="ul-event-img">
                                    <img src="{% static 'assets/salamjindagi/img/event-img.jpg' %}" alt="Event Image">
                                    <span class="date">24 <span>Jan</span></span>
                                </div>
                                <div class="ul-event-txt">
                                    <h3 class="ul-event-title"><a href="#">Join the Team of Distinguished Legal Experts at Salaamzidagi</a></h3>
                                    <p class="ul-event-descr">As a legal expert, you can utilize your knowledge to advocate for justice, fulfill your social responsibility, and enjoy potential tax benefits. Together, let’s uphold the rule of law and empower our community! Your expertise is crucial—join us today!</p>
                                    <a href="/auth/sign-in" class="ul-btn"><i class="flaticon-fast-forward-double-right-arrows-symbol"></i>Join Us Today</a>
                                </div>
                            </div>
                        </div>
                        <!-- single JoinUs -->
                        <div class="col wow animate__fadeInUp">
                            <div class="ul-event ul-event--inner">
                                <div class="ul-event-img">
                                    <img src="{% static 'assets/salamjindagi/img/event-img.jpg' %}" alt="Event Image">
                                    <span class="date">24 <span>Jan</span></span>
                                </div>
                                <div class="ul-event-txt">
                                    <h3 class="ul-event-title"><a href="#">Join the Team of Dynamic Marketing Experts at Salaamzidagi</a></h3>
                                    <p class="ul-event-descr">As a marketing expert, you can harness your creativity to drive impactful campaigns, fulfill your social responsibility, and enjoy potential tax benefits. Together, let’s elevate our community and spread awareness for important causes! Your skills are essential—join us today!</p>
                                    <a href="/auth/sign-in" class="ul-btn"><i class="flaticon-fast-forward-double-right-arrows-symbol"></i>Join Us Today</a>
                                </div>
                            </div>
                        </div>
                        <!-- single JoinUs -->
                        <div class="col wow animate__fadeInUp">
                            <div class="ul-event ul-event--inner">
                                <div class="ul-event-img">
                                    <img src="{% static 'assets/salamjindagi/img/event-img.jpg' %}" alt="Event Image">
                                    <span class="date">24 <span>Jan</span></span>
                                </div>
                                <div class="ul-event-txt">
                                    <h3 class="ul-event-title"><a href="#">Join the Community of Inspiring Educators at Salaamzidagi</a></h3>
                                    <p class="ul-event-descr">As an educator, you can utilize your passion for teaching to empower individuals, fulfill your social responsibility, and enjoy potential tax benefits. Together, let’s foster a culture of learning and growth within our community! Your impact is invaluable—join us today!</p>
                                    <a href="/auth/sign-in" class="ul-btn"><i class="flaticon-fast-forward-double-right-arrows-symbol"></i>Join Us Today</a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <div class="ul-pagination">
                <ul>
                    <li><a href="#"><i class="flaticon-back"></i></a></li>
                    <li class="pages">
                        <a href="#" class="active">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                    </li>
                    <li><a href="#"><i class="flaticon-next"></i></a></li>
                </ul>
            </div>
        </section>
        <!-- JoinUs SECTION END -->
    </main>
{% endblock %}