{% load static %}
<!-- WHY JOIN SECTION START -->
<section class="ul-why-join ul-section-spacing">
    <div class="ul-why-join-wrapper ul-section-spacing">
        <div class="ul-container">
            <div class="row row-cols-md-2 row-cols-1 gy-4 align-items-center">
                <div class="col">
                    <div class="ul-why-join-img">
                        <img src="{% static 'assets/salamjindagi/img/why-join.jpg' %}" alt="Image">
                    </div>
                </div>

                <!-- txt -->
                <div class="col">
                    <div class="ul-why-join-txt">
                        <span class="ul-section-sub-title">Check Causes</span>
                        <h2 class="ul-section-title">Bridge the Gap: A Small Gesture of You, a Giant Leap for Their
                            Tomorrow</h2>
                        <!-- <p class="ul-section-descr">We help companies develop powerful corporate social responsibility, grantmaking, and employee engagement strategies.</p> -->

                        <div class="ul-accordion">
                            <div class="ul-single-accordion-item open">
                                <div class="ul-single-accordion-item__header">
                                    <div class="left">
                                        <h3 class="ul-single-accordion-item__title">Aao Padaye Ek Zindagi Banaye</h3>
                                    </div>
                                    <span class="icon"><i class="flaticon-next"></i></span>
                                </div>

                                <div class="ul-single-accordion-item__body">
                                    <p>An initiative by Salaam Zindagi Charitable Trust focused on empowering
                                        underprivileged children through education, providing resources, and nurturing
                                        their potential for a brighter future.</p>
                                    <a href="#">Read More</a>
                                </div>
                            </div>

                            <div class="ul-single-accordion-item">
                                <div class="ul-single-accordion-item__header">
                                    <div class="left">
                                        <h3 class="ul-single-accordion-item__title">Festival Of Sharing</h3>
                                    </div>
                                    <span class="icon"><i class="flaticon-next"></i></span>
                                </div>

                                <div class="ul-single-accordion-item__body">
                                    <p>The Festival of Sharing is a heartwarming event promoting community support and
                                        kindness, where participants generously donate essential items to help those in
                                        need, fostering unity, compassion, and togetherness.</p>
                                    <a href="#">Read More</a>
                                </div>
                            </div>

                            <div class="ul-single-accordion-item">
                                <div class="ul-single-accordion-item__header">
                                    <div class="left">
                                        <h3 class="ul-single-accordion-item__title">Disaster Relief Program</h3>
                                    </div>
                                    <span class="icon"><i class="flaticon-next"></i></span>
                                </div>

                                <div class="ul-single-accordion-item__body">
                                    <p>The Disaster Relief Program provides emergency aid, resources, and support to
                                        communities affected by natural disasters, ensuring timely assistance and
                                        recovery efforts to restore normalcy.</p>
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- WHY JOIN SECTION END -->