{% extends 'base.html' %}
{% load static %}
{% block body %}
<main>

  <!-- ================= BREADCRUMB ================= -->
  <section class="ul-breadcrumb ul-section-spacing">
    <div class="ul-container">
      <h2 class="ul-breadcrumb-title">{{ Blogdetails.post_title }}</h2>
      <ul class="ul-breadcrumb-nav">
        <li><a href="/">Home</a></li>
        <li><span class="separator"><i class="flaticon-right"></i></span></li>
        <li>{{ Blogdetails.post_cat.cat_name }}</li>
      </ul>
    </div>
  </section>

  <!-- ================= BLOG DETAILS ================= -->
  <div class="ul-section-spacing">
    <div class="ul-container">
      <div class="row ul-bs-row gy-5 flex-column-reverse flex-md-row">

        <!-- ========== SIDEBAR ========== -->
        <div class="col-lg-4 col-md-5">
          <div class="ul-inner-sidebar">

            <!-- Categories -->
            <div class="ul-inner-sidebar-widget categories">
              <h3 class="ul-inner-sidebar-widget-title">Categories</h3>
              <div class="ul-inner-sidebar-widget-content">
                <div class="ul-inner-sidebar-categories">
                  {% for cat in Blogcat %}
                  <a href="/{{ cat.cat_slug }}/">
                    {{ cat.cat_name }}
                  </a>
                  {% endfor %}
                </div>
              </div>
            </div>

            <!-- Recent Posts -->
            <div class="ul-inner-sidebar-widget posts">
              <h3 class="ul-inner-sidebar-widget-title">Recent Posts</h3>
              <div class="ul-inner-sidebar-widget-content">
                <div class="ul-inner-sidebar-posts">
                  {% for post in latnews %}
                  <div class="ul-inner-sidebar-post">
                    <div class="img">
                      <img src="{{ post.post_image.url }}" alt="{{ post.post_title }}">
                    </div>
                    <div class="txt">
                      <h4 class="title">
                        <a href="/{{ post.newsfrom.slug }}/{{ post.post_cat.sub_cat.cat_slug }}/{{ post.slug }}">
                          {{ post.post_title|truncatechars:50 }}
                        </a>
                      </h4>
                      <span class="date">{{ post.schedule_date|date:"d M Y" }}</span>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- ========== BLOG CONTENT ========== -->
        <div class="col-lg-8 col-md-7">
          <div class="ul-blog-details ul-blog-inner mb-0">
            <!-- Image -->
            <div class="ul-blog-img mb-4">
              {% if Blogdetails.post_image %}
              <img src="{{ Blogdetails.post_image.url }}" alt="{{ Blogdetails.post_title }}">
              {% else %}
              <img src="{% static 'upload/blog/null.jpg' %}" alt="No Image">
              {% endif %}
            </div>

            <!-- Meta -->
            <div class="ul-blog-infos mb-3">
              <div class="ul-blog-info">
                <span class="icon"><i class="flaticon-account"></i></span>
                <span class="text">
                  {% if Blogdetails.author %}
                  {{ Blogdetails.author.first_name }} {{ Blogdetails.author.last_name }}
                  {% elif Blogdetails.journalist %}
                  {{ Blogdetails.journalist.first_name }} {{ Blogdetails.journalist.last_name }}
                  {% else %}
                  Admin
                  {% endif %}
                </span>
              </div>

              <div class="ul-blog-info">
                <span class="icon"><i class="flaticon-price-tag"></i></span>
                <span class="text">{{ Blogdetails.post_cat.cat_name }}</span>
              </div>

              <div class="ul-blog-info">
                <span class="icon"><i class="flaticon-calendar"></i></span>
                <span class="text">{{ Blogdetails.schedule_date|date:"d M Y" }}</span>
              </div>
            </div>

            <!-- Title -->
            <h1 class="ul-blog-title mb-4">{{ Blogdetails.post_title }}</h1>

            <!-- Content -->
            <div class="ul-blog-details-txt">
              {{ Blogdetails.post_des|safe }}
            </div>

            <!-- ACTIONS (TAGS + SHARE) -->
            <div class="ul-blog-details-actions mt-2">
              <!-- TAGS -->
              {% if Blogdetails.tags.exists %}
              <div class="tags-wrapper">
                <h4 class="actions-title">Tags:</h4>

                <div class="ul-blog-sidebar-tags tags">
                  {% for tag in Blogdetails.tags.all %}
                  <a href="/topic/{{ tag.slug }}">
                    {{ tag.name }}{% if not forloop.last %} |{% endif %}
                  </a>
                  {% endfor %}
                </div>
              </div>
              {% endif %}

              <!-- SHARE -->
              <div class="shares-wrapper">
                <h4 class="actions-title">Share:</h4>

                <div class="share-options">
                  <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"
                    target="_blank">
                    <i class="flaticon-facebook"></i>
                  </a>

                  <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text={{ Blogdetails.post_title }}"
                    target="_blank">
                    <i class="flaticon-twitter"></i>
                  </a>

                  <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri }}"
                    target="_blank">
                    <i class="flaticon-linkedin-big-logo"></i>
                  </a>

                  <a href="https://www.instagram.com/" target="_blank">
                    <i class="flaticon-instagram"></i>
                  </a>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

</main>

{% endblock %}