{% extends 'base.html' %}
{% block body %}
{% load static %}

<main>
    <!-- BREADCRUMBS SECTION START -->
    <section class="ul-breadcrumb ul-section-spacing">
        <div class="ul-container">
            <h2 class="ul-breadcrumb-title">Reporters</h2>
            <ul class="ul-breadcrumb-nav">
                <li><a href="/">Home</a></li>
                <li><span class="separator"><i class="flaticon-right"></i></span></li>
                <li>Reporters</li>
            </ul>
        </div>
    </section>
    <!-- BREADCRUMBS SECTION END -->
<div class="container my-4">
  {% include 'guist_profiles.html' with profiles=profiles %}
</div>
</main>
{% endblock %}


