 
 {% load static %}
   <!-- TEAM SECTION START -->
        <section class="ul-team ul-section-spacing pt-0">
            <div class="ul-container">
                <!-- Heading -->
                <div class="ul-section-heading justify-content-between">
                    <div class="left">
                        <span class="ul-section-sub-title">Our Team</span>
                        <h2 class="ul-section-title">Skilled Legal Professionals Dedicated to You</h2>
                    </div>
                    <div>
                        <a href="#" class="ul-btn"><i class="flaticon-fast-forward-double-right-arrows-symbol"></i> Join With us</a>
                    </div>
                </div>

                <div class="row row-cols-md-4 row-cols-sm-3 row-cols-2 row-cols-xxs-1 ul-team-row justify-content-center">
                    <!-- single member -->
                    <div class="col">
                        <div class="ul-team-member">
                            <div class="ul-team-member-img">
                                <img src="{% static 'assets/salamjindagi/img/member-1.jpg' %}" alt="Team Member Image">
                                <div class="ul-team-member-socials">
                                    <a href="#"><i class="flaticon-facebook"></i></a>
                                    <a href="#"><i class="flaticon-twitter"></i></a>
                                    <a href="#"><i class="flaticon-linkedin-big-logo"></i></a>
                                    <a href="#"><i class="flaticon-instagram"></i></a>
                                </div>
                            </div>
                            <div class="ul-team-member-info">
                                <h3 class="ul-team-member-name"><a href="#">John Doe</a></h3>
                                <p class="ul-team-member-designation">Attorney</p>
                            </div>
                        </div>
                    </div>

                    <!-- single member -->
                    <div class="col">
                        <div class="ul-team-member">
                            <div class="ul-team-member-img">
                                <img src="{% static 'assets/salamjindagi/img/member-2.jpg' %}" alt="Team Member Image">
                                <div class="ul-team-member-socials">
                                    <a href="#"><i class="flaticon-facebook"></i></a>
                                    <a href="#"><i class="flaticon-twitter"></i></a>
                                    <a href="#"><i class="flaticon-linkedin-big-logo"></i></a>
                                    <a href="#"><i class="flaticon-instagram"></i></a>
                                </div>
                            </div>
                            <div class="ul-team-member-info">
                                <h3 class="ul-team-member-name"><a href="#">John Doe</a></h3>
                                <p class="ul-team-member-designation">Attorney</p>
                            </div>
                        </div>
                    </div>

                    <!-- single member -->
                    <div class="col">
                        <div class="ul-team-member">
                            <div class="ul-team-member-img">
                                <img src="{% static 'assets/salamjindagi/img/member-3.jpg' %}" alt="Team Member Image">
                                <div class="ul-team-member-socials">
                                    <a href="#"><i class="flaticon-facebook"></i></a>
                                    <a href="#"><i class="flaticon-twitter"></i></a>
                                    <a href="#"><i class="flaticon-linkedin-big-logo"></i></a>
                                    <a href="#"><i class="flaticon-instagram"></i></a>
                                </div>
                            </div>
                            <div class="ul-team-member-info">
                                <h3 class="ul-team-member-name"><a href="#">John Doe</a></h3>
                                <p class="ul-team-member-designation">Attorney</p>
                            </div>
                        </div>
                    </div>

                    <!-- single member -->
                    <div class="col">
                        <div class="ul-team-member">
                            <div class="ul-team-member-img">
                                <img src="{% static 'assets/salamjindagi/img/member-4.jpg' %}" alt="Team Member Image">
                                <div class="ul-team-member-socials">
                                    <a href="#"><i class="flaticon-facebook"></i></a>
                                    <a href="#"><i class="flaticon-twitter"></i></a>
                                    <a href="#"><i class="flaticon-linkedin-big-logo"></i></a>
                                    <a href="#"><i class="flaticon-instagram"></i></a>
                                </div>
                            </div>
                            <div class="ul-team-member-info">
                                <h3 class="ul-team-member-name"><a href="#">John Doe</a></h3>
                                <p class="ul-team-member-designation">Attorney</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- TEAM SECTION END -->