{% load static %}
<!-- TESTIMONIAL SECTION START -->
<section class="ul-testimonial ul-section-spacing">
    <div class="ul-testimonial-container">
        <div class="ul-section-heading text-center">
            <div>
                <span class="ul-section-sub-title">Testimonials</span>
                <h2 class="ul-section-title">What People Say About Salaam Zindagi</h2>
            </div>
        </div>

        <div class="ul-testimonial-slider swiper">
            <div class="swiper-wrapper">
                <!-- single slide -->
                <div class="swiper-slide">
                    <div class="ul-review">
                        <div class="ul-review-rating">
                            <i class="flaticon-star"></i>
                            <i class="flaticon-star"></i>
                            <i class="flaticon-star"></i>
                            <i class="flaticon-star"></i>
                            <i class="flaticon-star-1"></i>
                        </div>
                        <p class="ul-review-descr">The Festival of Sharing initiative is truly commendable. This noble
                            cause
                            not only provides essential winter clothing to those in need but also
                            actively involves our youth in meaningful community service. It is
                            inspiring to see young people channeling their energy and compassion
                            towards making a positive impact. I applaud Salaam Zindagi for fostering
                            this spirit of giving and responsibility among the next generation. My
                            heartfelt appreciation goes out to all the volunteers and supporters for
                            their dedicated efforts.</p>
                        <div class="ul-review-bottom">
                            <div class="ul-review-reviewer">
                                <div class="reviewer-image"><img
                                        src="{% static 'assets/salamjindagi/img/sandeep.png' %}" alt="Sandeep Hans IAS">
                                </div>
                                <div>
                                    <h3 class="reviewer-name">Sandeep Hans IAS</h3>
                                    <span class="reviewer-role">Director Higher Education. Chandigarh
                                        Adminstration. UT</span>
                                </div>
                            </div>

                            <!-- icon -->
                            <div class="ul-review-icon"><i class="flaticon-left"></i></div>
                        </div>
                    </div>
                </div>

                <!-- single slide -->
                <div class="swiper-slide">
                    <div class="ul-review">
                        <div class="ul-review-rating">
                            <i class="flaticon-star"></i>
                            <i class="flaticon-star"></i>
                            <i class="flaticon-star"></i>
                            <i class="flaticon-star"></i>
                            <i class="flaticon-star-1"></i>
                        </div>
                        <p class="ul-review-descr">I have been associated with Salaam Zindagi since its inception and have
                                                    witnessed the organization's incredible transformation. The dedication
                                                    and focus of its leaders on community service are truly commendable.
                                                    Every year, around 8,000 to 9,000 NSS volunteers participate in the
                                                    Festival of Sharing, staying connected with the community through Salaam
                                                    Zindagi's efforts. It is an honor to support such a noble cause and see
                                                    the positive impact it has on our youth and society</p>
                        <div class="ul-review-bottom">
                            <div class="ul-review-reviewer">
                                <div class="reviewer-image"><img
                                        src="{% static 'assets/salamjindagi/img/vikram.png' %}" alt="Dr. Bikram Rana">
                                </div>
                                <div>
                                    <h3 class="reviewer-name">Dr. Bikram Rana</h3>
                                    <span class="reviewer-role">State Liaison Officer, Dept. of Education,
                                                    Chandigarh UT</span>
                                </div>
                            </div>

                            <!-- icon -->
                            <div class="ul-review-icon"><i class="flaticon-left"></i></div>
                        </div>
                    </div>
                </div>

                <!-- single slide -->
                <div class="swiper-slide">
                    <div class="ul-review">
                        <div class="ul-review-rating">
                            <i class="flaticon-star"></i>
                            <i class="flaticon-star"></i>
                            <i class="flaticon-star"></i>
                            <i class="flaticon-star"></i>
                            <i class="flaticon-star-1"></i>
                        </div>
                        <p class="ul-review-descr">We have been associated with Salaam Zindagi since the 2015 Chennai
                                                    floods. As representatives of the Tamil community, we are profoundly
                                                    grateful for the tremendous help extended by this NGO during that
                                                    challenging time. Salaam Zindagi's unwavering support made a significant
                                                    difference, and since then, Chandigarh Tamil Mandram has proudly
                                                    partnered with them. The dedication and compassion shown by Salaam
                                                    Zindagi continue to inspire us, and we look forward to many more years
                                                    of collaboration in serving the community together.</p>
                        <div class="ul-review-bottom">
                            <div class="ul-review-reviewer">
                                <div class="reviewer-image"><img
                                        src="{% static 'assets/salamjindagi/img/raja.png' %}" alt="Raja Shekharan">
                                </div>
                                <div>
                                    <h3 class="reviewer-name">Raja Shekharan</h3>
                                    <span class="reviewer-role">General Secretary, Chandigarh Tamil Sangam</span>
                                </div>
                            </div>

                            <!-- icon -->
                            <div class="ul-review-icon"><i class="flaticon-left"></i></div>
                        </div>
                    </div>
                </div>

                <!-- single slide -->
                <div class="swiper-slide">
                    <div class="ul-review">
                        <div class="ul-review-rating">
                            <i class="flaticon-star"></i>
                            <i class="flaticon-star"></i>
                            <i class="flaticon-star"></i>
                            <i class="flaticon-star"></i>
                            <i class="flaticon-star-1"></i>
                        </div>
                        <p class="ul-review-descr">We are deeply thankful to Salaam Zindagi for stepping forward during the
                                                    disaster, securing relief and food materials, and ensuring they reached
                                                    those truly in need. From the entire committee and everyone who suffered
                                                    during this calamity, I extend my heartfelt gratitude to Salaam Zindagi
                                                    and all those who extended their help. Your dedication and support made
                                                    a significant difference in our time of need. Thank you.</p>
                        <div class="ul-review-bottom">
                            <div class="ul-review-reviewer">
                                <div class="reviewer-image"><img
                                        src="{% static 'assets/salamjindagi/img/madhu.png' %}" alt="Madhu Bhatt">
                                </div>
                                <div>
                                    <h3 class="reviewer-name">Madhu Bhatt</h3>
                                    <span class="reviewer-role">Badrinath Kedarnath Management Committee,
                                                    Uttarakhand</span>
                                </div>
                            </div>

                            <!-- icon -->
                            <div class="ul-review-icon"><i class="flaticon-left"></i></div>
                        </div>
                    </div>
                </div>
                <!-- single slide -->
                <div class="swiper-slide">
                    <div class="ul-review">
                        <div class="ul-review-rating">
                            <i class="flaticon-star"></i>
                            <i class="flaticon-star"></i>
                            <i class="flaticon-star"></i>
                            <i class="flaticon-star"></i>
                            <i class="flaticon-star-1"></i>
                        </div>
                        <p class="ul-review-descr">The Festival of Sharing initiative is truly commendable. This noble
                            cause
                            not only provides essential winter clothing to those in need but also
                            actively involves our youth in meaningful community service. It is
                            inspiring to see young people channeling their energy and compassion
                            towards making a positive impact. I applaud Salaam Zindagi for fostering
                            this spirit of giving and responsibility among the next generation. My
                            heartfelt appreciation goes out to all the volunteers and supporters for
                            their dedicated efforts.</p>
                        <div class="ul-review-bottom">
                            <div class="ul-review-reviewer">
                                <div class="reviewer-image"><img
                                        src="{% static 'assets/salamjindagi/img/sandeep.png' %}" alt="Sandeep Hans IAS">
                                </div>
                                <div>
                                    <h3 class="reviewer-name">Sandeep Hans IAS</h3>
                                    <span class="reviewer-role">hen Director Higher Education. Chandigarh
                                        Adminstration. UT</span>
                                </div>
                            </div>

                            <!-- icon -->
                            <div class="ul-review-icon"><i class="flaticon-left"></i></div>
                        </div>
                    </div>
                </div>

                <!-- single slide -->
                <div class="swiper-slide">
                    <div class="ul-review">
                        <div class="ul-review-rating">
                            <i class="flaticon-star"></i>
                            <i class="flaticon-star"></i>
                            <i class="flaticon-star"></i>
                            <i class="flaticon-star"></i>
                            <i class="flaticon-star-1"></i>
                        </div>
                        <p class="ul-review-descr">I have been associated with Salaam Zindagi since its inception and have
                                                    witnessed the organization's incredible transformation. The dedication
                                                    and focus of its leaders on community service are truly commendable.
                                                    Every year, around 8,000 to 9,000 NSS volunteers participate in the
                                                    Festival of Sharing, staying connected with the community through Salaam
                                                    Zindagi's efforts. It is an honor to support such a noble cause and see
                                                    the positive impact it has on our youth and society</p>
                        <div class="ul-review-bottom">
                            <div class="ul-review-reviewer">
                                <div class="reviewer-image"><img
                                        src="{% static 'assets/salamjindagi/img/vikram.png' %}" alt="Dr. Bikram Rana">
                                </div>
                                <div>
                                    <h3 class="reviewer-name">Dr. Bikram Rana</h3>
                                    <span class="reviewer-role">State Liaison Officer, Dept. of Education,
                                                    Chandigarh UT</span>
                                </div>
                            </div>

                            <!-- icon -->
                            <div class="ul-review-icon"><i class="flaticon-left"></i></div>
                        </div>
                    </div>
                </div>

                <!-- single slide -->
                <div class="swiper-slide">
                    <div class="ul-review">
                        <div class="ul-review-rating">
                            <i class="flaticon-star"></i>
                            <i class="flaticon-star"></i>
                            <i class="flaticon-star"></i>
                            <i class="flaticon-star"></i>
                            <i class="flaticon-star-1"></i>
                        </div>
                        <p class="ul-review-descr">We have been associated with Salaam Zindagi since the 2015 Chennai
                                                    floods. As representatives of the Tamil community, we are profoundly
                                                    grateful for the tremendous help extended by this NGO during that
                                                    challenging time. Salaam Zindagi's unwavering support made a significant
                                                    difference, and since then, Chandigarh Tamil Mandram has proudly
                                                    partnered with them. The dedication and compassion shown by Salaam
                                                    Zindagi continue to inspire us, and we look forward to many more years
                                                    of collaboration in serving the community together.</p>
                        <div class="ul-review-bottom">
                            <div class="ul-review-reviewer">
                                <div class="reviewer-image"><img
                                        src="{% static 'assets/salamjindagi/img/raja.png' %}" alt="Raja Shekharan">
                                </div>
                                <div>
                                    <h3 class="reviewer-name">Raja Shekharan</h3>
                                    <span class="reviewer-role">General Secretary, Chandigarh Tamil Sangam</span>
                                </div>
                            </div>

                            <!-- icon -->
                            <div class="ul-review-icon"><i class="flaticon-left"></i></div>
                        </div>
                    </div>
                </div>

                <!-- single slide -->
                <div class="swiper-slide">
                    <div class="ul-review">
                        <div class="ul-review-rating">
                            <i class="flaticon-star"></i>
                            <i class="flaticon-star"></i>
                            <i class="flaticon-star"></i>
                            <i class="flaticon-star"></i>
                            <i class="flaticon-star-1"></i>
                        </div>
                        <p class="ul-review-descr">We are deeply thankful to Salaam Zindagi for stepping forward during the
                                                    disaster, securing relief and food materials, and ensuring they reached
                                                    those truly in need. From the entire committee and everyone who suffered
                                                    during this calamity, I extend my heartfelt gratitude to Salaam Zindagi
                                                    and all those who extended their help. Your dedication and support made
                                                    a significant difference in our time of need. Thank you.</p>
                        <div class="ul-review-bottom">
                            <div class="ul-review-reviewer">
                                <div class="reviewer-image"><img
                                        src="{% static 'assets/salamjindagi/img/madhu.png' %}" alt="Madhu Bhatt">
                                </div>
                                <div>
                                    <h3 class="reviewer-name">Madhu Bhatt</h3>
                                    <span class="reviewer-role">Badrinath Kedarnath Management Committee,
                                                    Uttarakhand</span>
                                </div>
                            </div>

                            <!-- icon -->
                            <div class="ul-review-icon"><i class="flaticon-left"></i></div>
                        </div>
                    </div>
                </div>

            
            </div>

            <div class="ul-testimonial-slider-pagination"></div>
        </div>
    </div>
</section>
<!-- TESTIMONIAL SECTION END -->