 {% load static %}
 <!-- ABOUT SECTION START -->
        <section class="ul-about ul-section-spacing wow animate__fadeInUp">
            <div class="ul-container">
                <div class="row row-cols-md-2 row-cols-1 align-items-center gy-4 ul-about-row">
                    <div class="col">
                        <div class="ul-about-imgs">
                            <div class="img-wrapper">
                                <img src="{% static 'assets/salamjindagi/img/about-img.png' %}" alt="Image">
                            </div>
                            <div class="ul-about-imgs-vectors">
                                <img src="{% static 'assets/salamjindagi/img/about-img-vector-1.svg' %}" alt="Image" class="vector-1">
                                <img src="{% static 'assets/salamjindagi/img/about-img-vector-2.svg' %}" alt="Image" class="vector-2">
                            </div>
                        </div>
                    </div>

                    <!-- txt -->
                    <div class="col">
                        <div class="ul-about-txt">
                            <span class="ul-section-sub-title ul-section-sub-title--2">About US</span>
                            <h2 class="ul-section-title">Helping Each Other can Make World Better</h2>
                            <p class="ul-section-descr">Dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit The aspernaturaut odit aut fugit, sed quia consequuntur. Nonprofits around the world apply and join us to access more funding.</p>

                            <div class="ul-about-block">
                                <div class="block-left">
                                    <div class="block-heading">
                                        <div class="icon"><i class="flaticon-love"></i></div>
                                        <h3 class="block-title">Start Helping Team</h3>
                                    </div>

                                    <ul class="block-list">
                                        <li>There are many variations of solve</li>
                                    </ul>
                                </div>
                                <div class="block-right"><img src="{% static 'assets/salamjindagi/img/about-block-img.jpg' %}" alt="Image"></div>
                            </div>

                            <div class="ul-about-bottom">
                                <a href="#" class="ul-btn"><i class="flaticon-fast-forward-double-right-arrows-symbol"></i> Explore More</a>

                                <div class="ul-about-call">
                                    <div class="icon"><i class="flaticon-telephone-call"></i></div>
                                    <div class="txt">
                                        <span class="call-title">Call Any Time</span>
                                        <a href="tel:+612345678990">+61 2345 678 990</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- vector -->
            <div class="ul-about-vectors">
                <img src="{% static 'assets/salamjindagi/img/about-vector-1.png' %}" alt="vector" class="vector-1">
            </div>
        </section>
        <!-- ABOUT SECTION END -->