 
 {% load static %}
 <!-- BLOG SECTION START -->
    <section class="ul-blogs ul-section-spacing">
    <div class="ul-blogs-container wow animate__fadeInUp">
        <div class="row gy-3">
            <!-- section heading -->
            <div class="col-sm-5">
                <div class="ul-section-heading">
                    <div class="left">
                        <span class="ul-section-sub-title"> Latest Blog </span>
                        <h2 class="ul-section-title">Read Our Latest News</h2>
                        <p class="ul-section-descr">We help companies develop powerful corporate social responsibility, grantmaking, and employee engagement strategies.</p>
                        <div class="ul-blogs-slider-nav ul-slider-nav">
                            <button class="prev"><i class="flaticon-back"></i></button>
                            <button class="next"><i class="flaticon-next"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- blog slider -->
            <div class="col-sm-7">
                <div class="ul-blogs-slider swiper">
                    <div class="swiper-wrapper">
                        <!-- single blog -->
                        <div class="swiper-slide">
                            <div class="ul-blog">
                                <div class="ul-blog-img"><img src="{% static 'assets/salamjindagi/img/blog-1.jpg' %}" alt="Blog Image">
                                    <div class="date">
                                        <span class="number">15</span>
                                        <span class="txt">Dec</span>
                                    </div>
                                </div>
                                <div class="ul-blog-txt">
                                    <div class="ul-blog-infos">
                                        <!-- single info -->
                                        <div class="ul-blog-info">
                                            <span class="icon"><i class="flaticon-account"></i></span>
                                            <span class="text font-normal text-[14px] text-etGray">By Admin</span>
                                        </div>
                                        <!-- single info -->
                                        <div class="ul-blog-info">
                                            <span class="icon"><i class="flaticon-price-tag"></i></span>
                                            <span class="text font-normal text-[14px] text-etGray">Donation</span>
                                        </div>
                                    </div>
                                    <a href="#l" class="ul-blog-title">Give Education, It’s The Best Gift Ever.</a>
                                    <a href="#l" class="ul-blog-btn">Read More <span class="icon"><i class="flaticon-next"></i></span></a>
                                </div>
                            </div>
                        </div>

                        <!-- single blog -->
                        <div class="swiper-slide">
                            <div class="ul-blog">
                                <div class="ul-blog-img"><img src="{% static 'assets/salamjindagi/img/blog-2.jpg' %}" alt="Blog Image">
                                    <div class="date">
                                        <span class="number">15</span>
                                        <span class="txt">Dec</span>
                                    </div>
                                </div>
                                <div class="ul-blog-txt">
                                    <div class="ul-blog-infos">
                                        <!-- single info -->
                                        <div class="ul-blog-info">
                                            <span class="icon"><i class="flaticon-account"></i></span>
                                            <span class="text font-normal text-[14px] text-etGray">By Admin</span>
                                        </div>
                                        <!-- single info -->
                                        <div class="ul-blog-info">
                                            <span class="icon"><i class="flaticon-price-tag"></i></span>
                                            <span class="text font-normal text-[14px] text-etGray">Donation</span>
                                        </div>
                                    </div>
                                    <a href="#l" class="ul-blog-title">Don’t treat oceans as universal garbage cans</a>
                                    <a href="#l" class="ul-blog-btn">Read More <span class="icon"><i class="flaticon-next"></i></span></a>
                                </div>
                            </div>
                        </div>

                        <!-- single blog -->
                        <div class="swiper-slide">
                            <div class="ul-blog">
                                <div class="ul-blog-img"><img src="{% static 'assets/salamjindagi/img/blog-3.jpg' %}" alt="Blog Image">
                                    <div class="date">
                                        <span class="number">15</span>
                                        <span class="txt">Dec</span>
                                    </div>
                                </div>
                                <div class="ul-blog-txt">
                                    <div class="ul-blog-infos">
                                        <!-- single info -->
                                        <div class="ul-blog-info">
                                            <span class="icon"><i class="flaticon-account"></i></span>
                                            <span class="text font-normal text-[14px] text-etGray">By Admin</span>
                                        </div>
                                        <!-- single info -->
                                        <div class="ul-blog-info">
                                            <span class="icon"><i class="flaticon-price-tag"></i></span>
                                            <span class="text font-normal text-[14px] text-etGray">Donation</span>
                                        </div>
                                    </div>
                                    <a href="#l" class="ul-blog-title">The sun and the sand makes beaches beautiful</a>
                                    <a href="#l" class="ul-blog-btn">Read More <span class="icon"><i class="flaticon-next"></i></span></a>
                                </div>
                            </div>
                        </div>

                        <!-- single blog -->
                        <div class="swiper-slide">
                            <div class="ul-blog">
                                <div class="ul-blog-img"><img src="{% static 'assets/salamjindagi/img/blog-1.jpg' %}" alt="Blog Image">
                                    <div class="date">
                                        <span class="number">15</span>
                                        <span class="txt">Dec</span>
                                    </div>
                                </div>
                                <div class="ul-blog-txt">
                                    <div class="ul-blog-infos">
                                        <!-- single info -->
                                        <div class="ul-blog-info">
                                            <span class="icon"><i class="flaticon-account"></i></span>
                                            <span class="text font-normal text-[14px] text-etGray">By Admin</span>
                                        </div>
                                        <!-- single info -->
                                        <div class="ul-blog-info">
                                            <span class="icon"><i class="flaticon-price-tag"></i></span>
                                            <span class="text font-normal text-[14px] text-etGray">Donation</span>
                                        </div>
                                    </div>
                                    <a href="#l" class="ul-blog-title">The sun and the sand makes beaches beautiful</a>
                                    <a href="#l" class="ul-blog-btn">Read More <span class="icon"><i class="flaticon-next"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
<!-- BLOG SECTION END -->